export X_USERNAME=""
export X_PASSWORD=""
export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
export LANGSMITH_API_KEY=""
export LANGSMITH_PROJECT=""
export OPENAI_API_KEY=""
export TAVILY_API_KEY=""
export BLUESKY_HANDLE=""
export BLUESKY_PASSWORD=""
export ANTHROPIC_API_KEY=""
export OPENROUTER_API_KEY=""
export POSTGRES_DB=""
export POSTGRES_USER=""
export POSTGRES_PASSWORD=""
export IMAGE_NAME="personality-downloader"